<div class="modal-header">
    <h5 class="modal-title">
        {{title}}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="projectForm" (ngSubmit)="save()">
        <div class="group">
            <label>Name</label>
            <input class="input" type="text" formControlName="name" [(ngModel)]="project.name" />
        </div>
        <div class="group">
            <label>Description</label>
            <input class="input" type="text" formControlName="description" [(ngModel)]="project.description" />
        </div>
        <div class="group">
            <label>CreatedAt</label>
            <input class="input" formControlName="createdAt" type="datetime-local"
                [ngModel]="project.createdAt | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="project.createdAt = $event" />
        </div>
        <div class="group">
            <label>Deadline</label>
            <input class="input" formControlName="deadline" type="datetime-local"
                [ngModel]="project.deadline | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="project.deadline = $event" />
        </div>
        <div class="group">
            <label>Author</label>
            <select class="input" formControlName="authorId" id="users" [(ngModel)]="project.authorId">
                <option *ngFor="let user of users; let i = index" [value]="users[i].id">
                    {{users[i].id}} {{users[i].firstName}} {{users[i].lastName}}
                </option>
            </select>
        </div>
        <div class="group">
            <label>Team</label>
            <select class="input" formControlName="teamId" id="teams" [(ngModel)]="project.teamId">
                <option *ngFor="let team of teams; let i = index" [value]="teams[i].id">
                    {{teams[i].id}} {{teams[i].name}}
                </option>
            </select>
        </div>

        <button class="btn btn-save" type="submit" [disabled]="!projectForm.valid">Save</button>
    </form>
</div>