<h2 class="task-title">
    {{title}}
    <button class="btn btn-add">
        <i class="fas fa-plus"></i>
    </button>
</h2>
<div class="row justify-content-center" style="padding: 16px;">
    <div class="card m-2 task-card" *ngFor="let task of tasks">
        <div class="card-header">
            <a [routerLink]="['/tasks', task.id]">Task Id : {{task.id}}</a>
        </div>
        <div class="card-body">
            <p class="overflow">{{task.name}}</p>
            <div class="card-subtitle mb-2">
                State :
                <span taskState *ngIf="task.state==0" bcolor="#FBFBF0">{{states[task.state]}}</span>
                <span taskState *ngIf="task.state==1" bcolor="#FFE23F">{{states[task.state]}}</span>
                <span taskState *ngIf="task.state==2" bcolor="#9CE723">{{states[task.state]}}</span>
                <span taskState *ngIf="task.state==3" bcolor="#FF4763">{{states[task.state]}}</span>
            </div>
            <div class="card-subtitle mb-2">
                Project id : <a [routerLink]="['/projects', task.projectId]">{{task.projectId}}</a>
            </div>
            <div class="card-subtitle mb-2">
                Performer id : <a [routerLink]="['/users', task.performerId]">{{task.performerId}}</a>
            </div>
            <button type="button" class="btn btn-action" (click)="openModal(task)"><i class="fas fa-pencil-alt"></i></button>
            <button type="button" class="btn ml-2 btn-action" (click)="delete(task)"><i class="fas fa-trash"></i></button>
        </div>
    </div>
</div>
<app-snackbar></app-snackbar>