<div class="modal-header" style="background-color: lavender;">
    <h5 class="modal-title">
        {{title}}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="taskForm" (ngSubmit)="save()">
        <div class="group">
            <label>Name</label>
            <input class="input" type="text" formControlName="name" [(ngModel)]="task.name" />
        </div>
        <div class="group">
            <label>Description</label>
            <input class="input" type="text" formControlName="description" [(ngModel)]="task.description" />
        </div>
        <div class="group">
            <label>CreatedAt</label>
            <input class="input" formControlName="createdAt" type="datetime-local"
                [ngModel]="task.createdAt | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="task.createdAt = $event" />
        </div>
        <div class="group">
            <label>FinishedAt</label>
            <input class="input" formControlName="finishedAt" type="datetime-local"
                [ngModel]="task.finishedAt | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="task.finishedAt = $event" />
        </div>
        <div class="group">
            <label>Project</label>
            <select class="input" formControlName="projectId" id="projects" [(ngModel)]="task.projectId">
                <option *ngFor="let project of projects; let i = index" [value]="projects[i].id">
                    {{projects[i].id}} {{projects[i].name}}
                </option>
            </select>
        </div>
        <div class="group">
            <label>Performer</label>
            <select class="input" formControlName="performerId" id="users" [(ngModel)]="task.performerId">
                <option *ngFor="let user of users; let i = index" [value]="users[i].id">
                    {{users[i].id}} {{users[i].firstName}} {{users[i].lastName}}
                </option>
            </select>
        </div>
        <div class="group">
            <label>State</label>
            <select class="input" formControlName="state" id="states" [(ngModel)]="task.state">
                <option *ngFor="let state of states" [ngValue]="state.key">
                    {{state.text}}
                </option>
            </select>
        </div>

        <button class="btn btn-save" type="submit" [disabled]="!taskForm.valid">Save</button>
    </form>
</div>