<div class="modal-header" style="background-color: lavender;">
	<h5 class="modal-title">
		{{title}}
	</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form [formGroup]="teamForm" (ngSubmit)="save()">
		<div class="group">
			<label>Name</label>
			<input class="input" type="text" formControlName="name" [(ngModel)]="team.name" />
		</div>
		<div class="group">
			<label>CreatedAt</label>
			<input class="input" formControlName="createdAt" type="datetime-local"
				[ngModel]="team.createdAt | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="team.createdAt = $event" />
		</div>

		<button class="btn btn-save" type="submit" [disabled]="!teamForm.valid">Save</button>
	</form>
</div>