  .modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .input{
    display: block;
    width: 100%;
  }

  .group{
    margin-bottom: 16px;
  }

  .btn-save{
    background-color: #FFC300;
  }