<div class="card user-card">
	<h5 class="card-header">
		{{title}}
	</h5>
	<div class="card-body">
		<div class="card-subtitle mb-2">
			<b>Id:</b> {{user.id}}
		</div>
		<div class="card-subtitle mb-2">
			<b>FirstName:</b> {{user.firstName}}
		</div>
		<div class="card-subtitle mb-2">
			<b>LastName:</b> {{user.lastName}}
		</div>
		<div class="card-subtitle mb-2">
			<b>Email:</b> {{user.email}}
		</div>
		<div class="card-subtitle mb-2">
			<b>BirthDay:</b> {{user.birthDay | formatDate}}
		</div>
		<div class="card-subtitle mb-2" *ngIf="user?.teamId">
			<b>TeamId:</b> <a [routerLink]="['/teams', user.teamId]"> {{user.teamId}}</a>
		</div>
		<div class="card-subtitle mb-2">
			<b>RegisteredAt:</b> {{user.registeredAt | formatDate}}
		</div>

		<button type="button" class="btn btn-action" (click)="openModal()">
			<i class="fas fa-pencil-alt"></i>
		</button>
		<button type="button" class="btn ml-1 btn-action" (click)="delete()">
			<i class="fas fa-trash"></i>
		</button>
	</div>
</div>

<app-snackbar></app-snackbar>