.overflow{
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.project-card{
    width: 260px; 
    height: 240px;
}

.project-title{
    display: flex; 
    justify-self: center; 
    justify-content: left; 
    margin: 86px 16px 16px 16px;
}

.btn-add{
    background-color: lavender;
    margin-left: 12px;
    border-radius: 50%;
  }

.btn-add:hover{
    background-color:lightgray;
    cursor: pointer;
}

.card-header{
    background-color: lavender;
  }

.btn-action{
    background-color: #FFC300;
    border-radius: 50%;
  }

.btn-action:hover{
    background-color: darkgray;
}