<h2 class="project-title">
    {{title}}
    <button class="btn btn-add">
        <i class="fas fa-plus"></i>
    </button>
</h2>
<div class="row justify-content-center" style="padding: 16px;">
    <div class="card m-2 project-card"  *ngFor="let project of projects">
        <div class="card-header">
            <a [routerLink]="['/projects', project.id]">Project Id : {{project.id}}</a>
        </div>
        <div class="card-body">
            <p class="overflow">{{project.name}}</p>
            <div class="card-subtitle mb-2">
                Author id : <a [routerLink]="['/users', project.authorId]">{{project.authorId}}</a>
            </div>
            <div class="card-subtitle mb-2">
                Team Id : <a [routerLink]="['/teams', project.teamId]">{{project.teamId}}</a>
            </div>            
            <div class="card-subtitle mb-2">
                Deadline : {{project.deadline | formatDate}}
            </div>
            <button type="button" class="btn btn-action" (click)="openModal(project)"><i class="fas fa-pencil-alt"></i></button>
            <button type="button" class="btn ml-2 btn-action" (click)="delete(project)"><i class="fas fa-trash"></i></button>
        </div>
    </div>
</div>
<app-snackbar></app-snackbar>