<div class="card team-card">
	<h5 class="card-header">
		{{title}}
	</h5>
	<div class="card-body">
		<div class="card-subtitle mb-2">
			<b>Id:</b> {{team.id}}
		</div>
		<div class="card-subtitle mb-2">
			<b>Name:</b> {{team.name}}
		</div>
		<div class="card-subtitle mb-2">
			<b>CreatedAt:</b> {{team.createdAt |formatDate}}
		</div>

		<button type="button" class="btn btn-action" (click)="openModal()">
			<i class="fas fa-pencil-alt"></i>
		</button>
		<button type="button" class="btn ml-2 btn-action" (click)="delete()">
			<i class="fas fa-trash"></i>
		</button>
	</div>
</div>

<app-snackbar></app-snackbar>