<div class="card task-card">
    <h5 class="card-header">
        {{title}}
    </h5>
    <div class="card-body">
        <div class="card-subtitle mb-2">
            <b>Id:</b> {{task.id}}
        </div>
        <div class="card-subtitle mb-2">
            <b>Name:</b> {{task.name}}
        </div>
        <div class="card-subtitle mb-2">
            <b>State:</b> {{task.state}}
        </div>
        <div class="card-subtitle mb-2">
            <b>ProjectId: </b> <a [routerLink]="['/projects', task.projectId]">{{task.projectId}}</a>
        </div>
        <div class="card-subtitle mb-2">
            <b>PerformerId: </b> <a [routerLink]="['/users', task.performerId]">{{task.performerId}}</a>
        </div>
        <div class="card-subtitle mb-2">
            <b>Description:</b> {{task.description}}
        </div>
        <div class="card-subtitle mb-2">
            <b>CreatedAt:</b> {{task.createdAt | date:'dd-MM-yyyy HH:mm'}}
        </div>
        <div class="card-subtitle mb-2" *ngIf="task?.finishedAt">
            <b>Finished:</b> {{task.finishedAt | date:'dd-MM-yyyy HH:mm'}}
        </div>
        <button type="button" class="btn btn-action" (click)="openModal()">
            <i class="fas fa-pencil-alt"></i>
        </button>
        <button type="button" class="btn ml-2 btn-action" (click)="delete()">
            <i class="fas fa-trash"></i>
        </button>
    </div>
</div>

<app-snackbar></app-snackbar>