.btn-action{
    background-color: #FFC300;
    border-radius: 50%;
  }

.btn-action:hover{
    background-color: darkgray;
}

.task-card{
  margin-left: 10%;
  margin-right: 10%; 
  margin-top: 86px;
  margin-bottom: 3%;
}

.card-header{
  background-color: lavender;
}