.container {
    margin-top: 86px;
    margin-left: 6%;
    margin-right: 6%;
    width: 88%;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

p{
    font-size:6vw;
    font-weight: bold;
}