<h2 class="user-header">{{title}}
    <button class="btn btn-add">
        <i class="fas fa-plus"></i>
    </button>
</h2>

<div class="row justify-content-center" style="padding: 16px;">
    <table class="table">
        <thead class="table-head">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">FirsName</th>
                <th scope="col">LastName</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" class="table-row">
                <th scope="row" (click)="redirect(user.id)">{{user.id}}</th>
                <td (click)="redirect(user.id)">{{user.firstName}}</td>
                <td (click)="redirect(user.id)">{{user.lastName}}</td>
                <td class="actions">
                    <button type="button" class="btn ml-1 mb-2 btn-action" (click)="openModal(user)">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn ml-1 mb-2 btn-action" (click)="delete(user)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-snackbar></app-snackbar>