<h2 class="team-header">
    {{title}}
    <button class="btn btn-add" (click)="redirect('create')">
        <i class="fas fa-plus"></i>
    </button>
</h2>

<div class="row justify-content-center" style="padding: 16px;">
    <table class="table">
        <thead class="table-head">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">CreatedAt</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of teams" class="table-row">
                <th scope="row" (click)="redirect(team.id)">{{team.id}}</th>
                <td (click)="redirect(team.id)">{{team.name}}</td>
                <td (click)="redirect(team.id)">{{team.createdAt | formatDate}}</td>
                <td class="actions">
                    <button type="button" class="btn ml-1 mb-2 btn-action" (click)="openModal(team)">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn ml-1 mb-2 btn-action" (click)="delete(team)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-snackbar></app-snackbar>