.table-row:hover{
    background-color:#f2f2fa;
    cursor: pointer;
}

.team-header{
    display: flex; 
    justify-self: center;
    justify-content: left; 
    margin: 86px 16px 16px 16px;
}

.btn-add{
    background-color: lavender;
    margin-left: 12px;
    border-radius: 50%;
  }

.btn-add:hover{
    background-color:lightgray;
    cursor: pointer;
}

.btn-action{
    background-color: #FFC300;
    border-radius: 50%;
  }

.btn-action:hover{
    background-color: darkgray;
}

.table-head{
    background-color: lavender;
}

.table{
    width: 80%;
}

.actions{
    width: 25%;
}