<div class="card team-card">
    <h5 class="card-header">
        {{title}}
    </h5>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="group card-subtitle mb-2">
                <label>Name</label>
                <input class="input" type="text" formControlName="name" />
            </div>
            <div class="group card-subtitle mb-2">
                <label>CreatedAt</label>
                <input class="input" formControlName="createdAt" type="datetime-local" />
            </div>

            <button class="btn btn-save" type="submit" [disabled]="!form.valid">Save</button>
        </form>
    </div>
</div>

<app-snackbar></app-snackbar>