  .input{
    display: block;
    width: 100%;
  }

  .group{
    padding-bottom: 16px;
  }

  .btn-save{
    background-color: #FFC300;
  }

  .team-card{
    margin-left: 10%;
    margin-right: 10%; 
    margin-top: 86px;
    margin-bottom: 3%;
}

  .card-header{
    background-color: lavender;
  }