<div class="modal-header" style="background-color: lavender;">
	<h5 class="modal-title">
		{{title}}
	</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form [formGroup]="userForm" (ngSubmit)="save()">
		<div class="group">
			<label>FirstName</label>
			<input class="input" type="text" formControlName="firstName" [(ngModel)]="user.firstName" />
		</div>
		<div class="group">
			<label>LastName</label>
			<input class="input" type="text" formControlName="lastName" [(ngModel)]="user.lastName" />
		</div>
		<div class="group">
			<label>Email</label>
			<input class="input" type="email" formControlName="email" [(ngModel)]="user.email" />
		</div>
		<div class="group">
			<label>BirthDay</label>
			<input class="input" formControlName="birthDay" type="datetime-local"
				[ngModel]="user.birthDay | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="user.birthDay = $event" />
		</div>
		<div class="group">
			<label>Team</label>
			<select class="input" formControlName="teamId" id="teams" [(ngModel)]="user.teamId">
				<option *ngFor="let team of teams; let i = index" [value]="teams[i].id">
					{{teams[i].id}} {{teams[i].name}}
				</option>
			</select>
		</div>

		<button class="btn btn-save" type="submit" [disabled]="!userForm.valid">Save</button>
	</form>
</div>