<div class="card project-card">
    <h5 class="card-header">
        {{title}}
    </h5>
    <div class="card-body">
        <div class="card-subtitle mb-2">
            <b>Id:</b> {{project.id}}
        </div>
        <div class="card-subtitle mb-2">
            <b>Name:</b> {{project.name}}
        </div>
        <div class="card-subtitle mb-2">
            <b>Description:</b> {{project.description}}
        </div>
        <div class="card-subtitle mb-2">
            <b>TeamId: </b> <a [routerLink]="['/teams', project.teamId]">{{project.teamId}}</a>
        </div>
        <div class="card-subtitle mb-2">
            <b>AuthorId: </b> <a [routerLink]="['/users', project.authorId]">{{project.authorId}}</a>
        </div>
        <div class="card-subtitle mb-2">
            <b>CreatedAt:</b> {{project.createdAt | date:'dd-MM-yyyy HH:mm'}}
        </div>
        <div class="card-subtitle mb-2">
            <b>Deadline:</b> {{project.deadline | date:'dd-MM-yyyy HH:mm'}}
        </div>

        <button type="button" class="btn btn-action" (click)="openModal()"><i class="fas fa-pencil-alt"></i></button>
        <button type="button" class="btn ml-2 btn-action" (click)="delete()"><i class="fas fa-trash"></i></button>
    </div>
</div>

<app-snackbar></app-snackbar>